.header {
  background-color: #007bff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 32px;
  color: #fff;
  margin: 0;
}

.buttons {
  margin-top: 10px;
}

.buttons button,
.buttons a {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.buttons button:hover,
.buttons a:hover {
  background-color: #f1f1f1;
}

/* Estilos da modal */
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos do conteúdo da modal */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do botão Fechar */
.modal-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-content button:hover {
  background-color: #0056b3;
}
