body {
  overflow: hidden;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #007bff;
  padding: 50px;
  /* Adicionando bordas brancas ao redor do container principal */
  border: 50px solid #fff;
  box-sizing: border-box; /* Faz com que as bordas não alterem as dimensões do elemento */
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 32px;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
}

.buttons button,
.buttons a {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.buttons button:hover,
.buttons a:hover {
  background-color: #f1f1f1;
}

/* Estilos da modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Estilos do conteúdo da modal */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  /* Estilo do botão Fechar */
  .modal-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Aumentando o espaço entre o conteúdo e o botão de fechar */
    padding: 10px 20px; /* Ajustando o espaçamento interno do botão */
    font-size: 16px; /* Ajustando o tamanho do texto do botão */
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }

  /* Estilização adicional para o botão Fechar */
.modal-content button:focus {
  outline: none; /* Removendo a borda de foco ao clicar no botão */
}

.modal-content button:active {
  background-color: #003d80; /* Cor quando o botão é clicado */
}

/* Estilo do botão de Fechar (X) na modal */
.modal-content button.close-btn {
  float: right;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Estilo para ajustar o posicionamento do botão Fechar */
.modal-content .close-btn {
  margin-top: -10px;
  margin-right: -10px;
}
  