<main>
  <section class="form-section">
    <img src="/assets/svg/logo.svg" alt="logo-rioVeiculos" />
    <h2>{{ title }}</h2>
    <div class="btn-wrapper">
      <button class="btn-primary">{{ primaryBtnTxt }}</button>
      <div class="divider">
        <div></div>
        <span>OU</span>
        <div></div>
      </div>
      <button class="btn-secundary">{{ secundaryBtnTxt }}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Catálogo de Peças</h1>
    <img src="/assets/svg/main-illustration.svg" alt="" />
  </section>
</main>
