/* Estilo para o cabeçalho */
.header3 {
    background-image: url(../3442970\ \(1\)-fotor-20230808122722.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px;
}

/* Estilo para o logo */
.logo3 {
    width: 70px;
    margin-right: 0px;
}

.footer3 {
    color: white;
    padding: 1px;
    /* Reduza o padding para deixar o footer menor */
    text-align: center;
    font-size: 10px;
    /* Reduza o tamanho das letras para torná-las menores */
    height: 56px;
    background-image: url(../3442970\ \(1\)-fotor-20230808122722.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.social-buttons3 {
    display: flex;
    justify-content: center;
}

.social-button3 {
    background-color: transparent;
    color: white;
    margin: 2px;
    cursor: pointer;
    font-size: 10px;
    border: none;
    box-shadow: none;
}

.modal3 {
    bottom: -3492px;
}

/* Estilo para os tópicos dentro da modal */
.modal-topics3 {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.modal-topics3 li {
    margin-bottom: 6px;
    /* Reduza o espaçamento entre os itens da lista */
    display: flex;
    align-items: center;
}

.modal-topics3 li button {
    background-color: transparent;
    color: white;
    border: none;
    /* Remova a borda */
    cursor: pointer;
    font-size: 10px;
    padding: 2px;
    /* Adicione a borda inferior com maior largura */
    border-bottom: 1px solid rgba(255, 255, 255, 0.422);
    /* Reduza a espessura da linha */
    width: 100px;
    /* Defina a largura dos botões para 100 pixels */
    text-align: right;
    /* Alinhe o texto à direita */
}

.modal-topics3 li::before {
    /* Estilize a linha horizontal */
    content: "";
    flex: 1;
    height: 1px;
    /* Reduza a espessura da linha */
    background-color: white;
    margin-left: 60px;
    /* Adicione um espaçamento à esquerda para afastar a linha do botão */
}