@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,500;1,200;1,300&family=Josefin+Slab:ital,wght@0,600;1,400;1,700&display=swap');

.titulo-central3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-family: 'Josefin Sans', sans-serif;
}

.titulo-central3 h2 {
    font-size: 20px;
    text-align: center;
}

.titulo-central3 p {
    font-size: 10px;
    font-family: 'Josefin Slab', serif;
}

.imagem1-container3 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.logoApollo {
    max-width: 60%;
    height: auto;
    margin-bottom: 15px;
}

.conteudo-apollo1 {
    text-align: justify;
    margin: 25px 80px;
    font-size: 10px;
    font-family: 'Josefin Slab', serif;
}

.conteudo-apollo1 h4 {
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
}

.conteudo-apollo1 ul li {
    margin-bottom: 10px;
}

.conteudo-apollo1 ol li {
    margin-bottom: 10px;
}

.conteudo-apollo1 strong {
    font-size: 12px;
    font-style: oblique;
}

.imagem2-container3 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.saturnV {
    max-width: 90%;
    height: auto;
    margin-bottom: 15px;
}

.imagem3-container3 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.saturnVStage {
    max-width: 55%;
    height: auto;
    margin-bottom: 15px;
}

.imagem4-container3 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.saturnVModules {
    max-width: 55%;
    height: auto;
    margin-bottom: 15px;
}


.imagem5-container3 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.Apollo1 {
    max-width: 90%;
    height: auto;
    margin-bottom: 15px;
}

.imagem6-container3 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.Apollo1Explosion {
    max-width: 55%;
    height: auto;
    margin-bottom: 15px;
}












.modal3 {
    bottom: -3492px;
}

/* Estilo para os tópicos dentro da modal */
.modal-topics3 {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.modal-topics3 li {
    margin-bottom: 6px;
    /* Reduza o espaçamento entre os itens da lista */
    display: flex;
    align-items: center;
}

.modal-topics3 li button {
    background-color: transparent;
    color: white;
    border: none;
    /* Remova a borda */
    cursor: pointer;
    font-size: 10px;
    padding: 2px;
    /* Adicione a borda inferior com maior largura */
    border-bottom: 1px solid rgba(255, 255, 255, 0.422);
    /* Reduza a espessura da linha */
    width: 100px;
    /* Defina a largura dos botões para 100 pixels */
    text-align: right;
    /* Alinhe o texto à direita */
}

.modal-topics3 li::before {
    /* Estilize a linha horizontal */
    content: "";
    flex: 1;
    height: 1px;
    /* Reduza a espessura da linha */
    background-color: white;
    margin-left: 60px;
    /* Adicione um espaçamento à esquerda para afastar a linha do botão */
}