@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,500;1,200;1,300&family=Josefin+Slab:ital,wght@0,600;1,400;1,700&display=swap');

.titulo-central2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-family: 'Josefin Sans', sans-serif;
}

.titulo-central2 h2 {
  font-size: 20px;
  text-align: center;
}

.titulo-central2 p {
  font-size: 10px;
  font-family: 'Josefin Slab', serif;
}

.imagem2-container1 {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.logoNasa {
  max-width: 60%;
  height: auto;
  margin-bottom: 15px;
}

.conteudo-ocomeco1 {
  text-align: justify;
  margin: 25px 80px;
  font-size: 10px;
  font-family: 'Josefin Slab', serif;
}

.conteudo-ocomeco1 h4 {
  font-size: 13px;
  font-family: 'Josefin Sans', sans-serif;
}

.conteudo-ocomeco1 ul li {
  margin-bottom: 10px;
}

.imagem2-container2 {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.sputnik {
  max-width: 80%;
  height: auto;
  margin-bottom: 15px;
}

.segundo-titulo2 h2 {
  font-size: 20px;
  text-align: center;
}

.imagem3-container2 {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.firstRocketNasa {
  max-width: 80%;
  height: auto;
  margin-bottom: 15px;
}

.imagem4-container2 {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.explosionRocketNasa {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.imagem5-container2 {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.mercuryNasa {
  max-width: 80%;
  height: auto;
  margin-bottom: 15px;
}

.imagem6-container2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.mercurySeven {
  max-width: 90%;
  height: auto;
  margin-bottom: 15px;
}

.imagem7-container2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.capsulaGemini {
  max-width: 90%;
  height: auto;
  margin-bottom: 15px;
}

.imagem8-container2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.simboloGemini {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.modal2 {
  bottom: -6601px;
}

/* Estilo para os tópicos dentro da modal */
.modal-topics2 {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.modal-topics2 li {
  margin-bottom: 6px;
  /* Reduza o espaçamento entre os itens da lista */
  display: flex;
  align-items: center;
}

.modal-topics2 li button {
  background-color: transparent;
  color: white;
  border: none;
  /* Remova a borda */
  cursor: pointer;
  font-size: 10px;
  padding: 2px;
  /* Adicione a borda inferior com maior largura */
  border-bottom: 1px solid rgba(255, 255, 255, 0.422);
  /* Reduza a espessura da linha */
  width: 100px;
  /* Defina a largura dos botões para 100 pixels */
  text-align: right;
  /* Alinhe o texto à direita */
}

.modal-topics2 li::before {
  /* Estilize a linha horizontal */
  content: "";
  flex: 1;
  height: 1px;
  /* Reduza a espessura da linha */
  background-color: white;
  margin-left: 60px;
  /* Adicione um espaçamento à esquerda para afastar a linha do botão */
}