.titulo-central1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Ajuste a altura conforme necessário */
}

.titulo-central1 h2 {
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    text-align: center;
}

.titulo-central1 p {
    font-size: 10px;
}

.imagem1-container1 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.imagemLua {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.conteudo-osonho1 {
    text-align: justify;
    margin: 25px 80px;
    font-size: 10px;
}

.imagem1-container2 {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.imagemTelescopio {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.conteudo-osonho2 {
    text-align: justify;
    margin: 25px 80px;
    font-size: 10px;
}

.segundo-titulo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-bottom: 15px;
}

.segundo-titulo1 h2 {
    font-size: 20px;
    text-align: center;
}

.imgGuerraFria {
    text-align: justify;
    max-width: 90%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 40px;
}

.conteudo-osonho3 {
    text-align: justify;
    margin: 25px 80px;
    font-size: 10px;
}

.conteudo-osonho4 {
    text-align: justify;
    margin: 25px 80px;
    font-size: 10px;
}

.conteudo-osonho4 ul li {
    margin-bottom: 10px;
}

.conteudo-osonho4 h4 {
    font-size: 13px;
}

.conteudo-osonho5 {
    text-align: justify;
    margin: 25px 80px;
    font-size: 10px;
}

.conteudo-osonho5 ul li {
    margin-bottom: 10px;
}

.conteudo-osonho5 h4 {
    font-size: 13px;
}

.KennedyDiscurso {
    text-align: justify;
    max-width: 90%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 40px;
}
