/* Estilo para o corpo do documento */
body {
  margin: 0;
  padding: 0;
  background-image: url(https://wallpaperaccess.com/full/3442970.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Estilo para o cabeçalho */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.748);
  color: white;
  padding: 20px;
}

/* Estilo para o logo */
.logo {
  width: 90px;
  margin-right: 10px;
}

/* Estilo para o botão */
.header button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo para o contêiner dos três pontos e tópicos */
.topics-container {
  display: flex;
  align-items: center;
}

/* Estilo para os tópicos */
.header-right {
  display: flex;
}

.header-right span {
  margin-left: 10px;
  cursor: pointer;
}

  /* Estilo para o conteúdo da modal */
.ReactModal__Content {
  position: absolute;
  top: 130px; /* Ajuste a posição vertical da modal (distância do topo em pixels) */
  right: 1px; /* Ajuste a posição horizontal da modal (distância da direita em pixels) */
  bottom: 130px; /* Ajuste a posição vertical da modal para esticá-la para baixo */
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px; /* Ajuste o padding para espaçamento interno desejado */
  width: 800px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


/* Estilo para os tópicos dentro da modal */
.modal-topics {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-topics li {
  margin-bottom: 10px;
}

/* Estilo para o botão Fechar da modal */
.ReactModal__Content button {
  margin-top: 10px;
  cursor: pointer;
}

/* Estilo para o conteúdo principal do site */
.content {
  padding: 20px;
  color: #333;
}

/* Estilo para o rodapé */
.footer {
  background-color: rgba(0, 0, 0, 0.748);
  color: white;
  padding: 20px;
  text-align: center;
}

/* Estilo para o cabeçalho - posicionar logo, nome e botão */
.header-content {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin-left: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

/* Estilo para o botão - ajustar tamanho e cor do ícone */
.show-topics-button {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  padding: 10px;
}

.show-topics-button img {
  width: 35px;
  height: 25px;
  object-fit: cover;
}

.background-image {
  background-image: url(https://i.ytimg.com/vi/9SXVZby7l20/maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: calc(100vh - -100px);
}

.background-image1 {
  background-image: url(https://th.bing.com/th/id/R.badad74944dfd14f1e12f43c10c30907?rik=U4wLXqjw2%2bne3g&riu=http%3a%2f%2fcbsnews1.cbsistatic.com%2fhub%2fi%2f2012%2f08%2f27%2fde7a74c2-a644-11e2-a3f0-029118418759%2fblackstone01.jpg&ehk=sSPRnwGEqgqrGBxNyskEkdwlD8XWWGr5gu1PIxh9JBo%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: calc(100vh - -100px);
}

.background-image2 {
  background-image: url(https://statushero.com/assets/Ikp0a6EV3t-1000.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: calc(100vh - -100px);
}

.background-image3 {
  background-image: url(https://i.pinimg.com/originals/cb/d6/55/cbd65522dd645f423440545797ac9d68.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: calc(100vh - -100px);
}

.background-image4 {
  background-image: url(https://www.expressandstar.com/resizer/HY6ticwNhNeBV1m4PdQXdpFKRBk=/1200x0/cloudfront-us-east-1.images.arcpublishing.com/mna/5TTAMX5MZRA37PDQH43LLYF5PY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: calc(100vh - -100px);
}

/* Estilo para o rodapé */
.footer {
  background-color: rgba(0, 0, 0, 0.748);
  color: white;
  padding: 10px;
  text-align: center;
}

.social-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.social-button {
  background-color: transparent;
  color: white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none; /* Removendo a borda */
  box-shadow: none; /* Removendo a sombra */
}

/* Estilo para o contêiner do botão "O começo" */
.start-button-container {
  position: absolute;
  bottom: -50px; /* Ajuste a posição vertical do contêiner (mais embaixo) */
  left: 50px; /* Ajuste a posição horizontal do contêiner (afastado do canto) */
  background-color: black; /* Cor de fundo preta */
  padding: 20px; /* Espaçamento interno da caixa */
  border-radius: 0px; /* Cantos arredondados */
}

/* Estilo para o botão "O começo" */
.start-button {
  background-color: transparent;
  color: white;
  padding: 15px 30px;
  border: 2px solid white; /* Borda branca */
  border-radius: 0; /* Cantos quadrados */
  cursor: pointer;
  font-size: 30px;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  width: 100%;
  transition: color .7s ease-in-out, background-color .7s ease-in-out; /* Transição mais lenta */
}

/* Estilo para o botão "O começo" quando o cursor estiver acima dele */
.start-button:hover {
  color: black; /* Torna o texto branco */
  background-color: white; /* Torna o fundo branco */
}


.start-button1-container {
  position: absolute;
  bottom: -900px; /* Ajuste a posição vertical do contêiner (mais embaixo) */
  left: 50px; /* Ajuste a posição horizontal do contêiner (afastado do canto) */
  background-color: black; /* Cor de fundo preta */
  padding: 20px; /* Espaçamento interno da caixa */
  border-radius: 0px; /* Cantos arredondados */
}

.start-button1 {
  background-color: transparent;
  color: white;
  padding: 15px 30px;
  border: 2px solid white; /* Borda branca */
  border-radius: 0; /* Cantos quadrados */
  cursor: pointer;
  font-size: 30px;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  width: 100%;
  transition: color .7s ease-in-out, background-color .7s ease-in-out; /* Transição mais lenta */
}

.start-button1:hover {
  color: black; /* Torna o texto branco */
  background-color: white; /* Torna o fundo branco */
}

.start-button2-container {
  position: absolute;
  bottom: -1750px; /* Ajuste a posição vertical do contêiner (mais embaixo) */
  left: 50px; /* Ajuste a posição horizontal do contêiner (afastado do canto) */
  background-color: black; /* Cor de fundo preta */
  padding: 20px; /* Espaçamento interno da caixa */
  border-radius: 0px; /* Cantos arredondados */
}

.start-button2 {
  background-color: transparent;
  color: white;
  padding: 15px 30px;
  border: 2px solid white; /* Borda branca */
  border-radius: 0; /* Cantos quadrados */
  cursor: pointer;
  font-size: 30px;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  width: 100%;
  transition: color .7s ease-in-out, background-color .7s ease-in-out; /* Transição mais lenta */
}

.start-button2:hover {
  color: black; /* Torna o texto branco */
  background-color: white; /* Torna o fundo branco */
}

.start-button3-container {
  position: absolute;
  bottom: -2560px; /* Ajuste a posição vertical do contêiner (mais embaixo) */
  left: 50px; /* Ajuste a posição horizontal do contêiner (afastado do canto) */
  background-color: black; /* Cor de fundo preta */
  padding: 20px; /* Espaçamento interno da caixa */
  border-radius: 0px; /* Cantos arredondados */
}

.start-button3 {
  background-color: transparent;
  color: white;
  padding: 15px 30px;
  border: 2px solid white; /* Borda branca */
  border-radius: 0; /* Cantos quadrados */
  cursor: pointer;
  font-size: 30px;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  width: 100%;
  transition: color .7s ease-in-out, background-color .7s ease-in-out; /* Transição mais lenta */
}

.start-button3:hover {
  color: black; /* Torna o texto branco */
  background-color: white; /* Torna o fundo branco */
}

.start-button4-container {
  position: absolute;
  bottom: -3400px; /* Ajuste a posição vertical do contêiner (mais embaixo) */
  left: 50px; /* Ajuste a posição horizontal do contêiner (afastado do canto) */
  background-color: black; /* Cor de fundo preta */
  padding: 20px; /* Espaçamento interno da caixa */
  border-radius: 0px; /* Cantos arredondados */
}

.start-button4 {
  background-color: transparent;
  color: white;
  padding: 15px 30px;
  border: 2px solid white; /* Borda branca */
  border-radius: 0; /* Cantos quadrados */
  cursor: pointer;
  font-size: 30px;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  width: 100%;
  transition: color .7s ease-in-out, background-color .7s ease-in-out; /* Transição mais lenta */
}

.start-button4:hover {
  color: black; /* Torna o texto branco */
  background-color: white; /* Torna o fundo branco */
}

